@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset so router pages take full screen */
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #000;
  color: white;
}
